[submodule "submodules/src/glfw"]
	path = ImApp/submodules/src/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/src/glm"]
	path = ImApp/submodules/src/glm
	url = https://github.com/g-truc/glm
[submodule "submodules/src/imgui"]
	path = ImApp/submodules/src/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "submodules/src/stb"]
	path = ImApp/submodules/src/stb
	url = https://github.com/nothings/stb
